DESCRIPTION

One of the leading retail stores in the US, Walmart, would like to predict the sales and demand accurately. There are certain events and holidays which impact sales on each day. There are sales data available for 45 stores of Walmart. The business is facing a challenge due to unforeseen demands and runs out of stock some times, due to the inappropriate machine learning algorithm. An ideal ML algorithm will predict demand accurately and ingest factors like economic conditions including CPI, Unemployment Index, etc.

Walmart runs several promotional markdown events throughout the year. These markdowns precede prominent holidays, the four largest of all, which are the Super Bowl, Labour Day, Thanksgiving, and Christmas. The weeks including these holidays are weighted five times higher in the evaluation than non-holiday weeks. Part of the challenge presented by this competition is modeling the effects of markdowns on these holiday weeks in the absence of complete/ideal historical data. Historical sales data for 45 Walmart stores located in different regions are available.

Basic Statistics tasks

Which store has maximum sales

Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation

Which store/s has good quarterly growth rate in Q3’2012

Some holidays have a negative impact on sales. Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together

Provide a monthly and semester view of sales in units and give insights

Statistical Model

For Store 1 – Build  prediction models to forecast demand

Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order). Hypothesize if CPI, unemployment, and fuel price have any impact on sales.

Change dates into days by creating new variable.

In [ ]:
# import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from patsy import dmatrices
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
# Load the dataset
walmart_data = pd.read_csv("/content/drive/My Drive/DeepLearning_Simili/Projects/Data Science/Walmart_Store_sales 2.csv")
walmart_data.head()

   Store        Date  Weekly_Sales  ...  Fuel_Price         CPI  Unemployment
0      1  05-02-2010    1643690.90  ...       2.572  211.096358         8.106
1      1  12-02-2010    1641957.44  ...       2.548  211.242170         8.106
2      1  19-02-2010    1611968.17  ...       2.514  211.289143         8.106
3      1  26-02-2010    1409727.59  ...       2.561  211.319643         8.106
4      1  05-03-2010    1554806.68  ...       2.625  211.350143         8.106

[5 rows x 8 columns]

In [ ]:
# maximum sales
walmart_data_groupby = walmart_data.groupby('Store')['Weekly_Sales'].sum()
print("Store Number {} has maximum Sales. Sum of Total Sales {}".format(walmart_data_groupby.idxmax
(),walmart_data_groupby.max()))

Store Number 20 has maximum Sales. Sum of Total Sales 301397792.46000004

In [ ]:
# Max svd of store
walmart_data_std = walmart_data.groupby('Store').agg({'Weekly_Sales':'std'})
print("Store Number {} has maximum Standard Deviation. STD {}".format(walmart_data_std['Weekly_Sales'
].idxmax(),walmart_data_std['Weekly_Sales'].max()))

Store Number 14 has maximum Standard Deviation. STD 317569.9494755081

In [ ]:
# mean and std weekly sales
walmart_data_std = walmart_data.groupby('Store').agg({'Weekly_Sales':['mean','std']})
walmart_data_std.head()

       Weekly_Sales
               mean            std
Store
1      1.555264e+06  155980.767761
2      1.925751e+06  237683.694682
3      4.027044e+05   46319.631557
4      2.094713e+06  266201.442297
5      3.180118e+05   37737.965745

In [ ]:
# Store # with hightest growth
walmart_data_Q32012 = walmart_data[(pd.to_datetime(walmart_data['Date']) >= pd.to_datetime('07-01-2012')) & 
                                   (pd.to_datetime(walmart_data['Date']) <= pd.to_datetime('09-30-2012'))]
walmart_data_growth = walmart_data_Q32012.groupby(['Store'])['Weekly_Sales'].sum()
print("Store Number {} has Good Quartely Growth in Q3'2012 {}".format(walmart_data_growth.idxmax(),
                                                                      walmart_data_growth.max()))

Store Number 4 has Good Quartely Growth in Q3'2012 25652119.35

In [ ]:
# Stores Holiday Sales
stores_holiday_sales = walmart_data[walmart_data['Holiday_Flag'] == 1]

In [ ]:
# Stores Weekday Sales
stores_nonholiday_sales = walmart_data[walmart_data['Holiday_Flag'] == 0]

In [ ]:
#Stores Sales in Super Bowl Day where Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
stores_holiday_sales_superBowl = stores_holiday_sales[(
    pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('12-02-2010')) |
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('11-02-2011'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('10-02-2012'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('08-02-2013'))]

In [ ]:
#Stores Sales in Labour Day  where Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13
stores_holiday_sales_labourDay = stores_holiday_sales[(
    pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('10-09-2010')) |
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('09-09-2011'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('07-09-2012'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('06-09-2013'))]

In [ ]:
#Stores Sales in Thanks Giving where Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
stores_holiday_sales_thanksgiving = stores_holiday_sales[(
    pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('26-11-2010')) |
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('25-11-2011'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('23-11-2012'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('29-11-2013'))]

In [ ]:
#Stores Sales in Christmas where Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13
stores_holiday_sales_Christmas = stores_holiday_sales[(
    pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('31-12-2010')) |
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('30-12-2011'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('28-12-2012'))|
    (pd.to_datetime(stores_holiday_sales['Date']) == pd.to_datetime('27-12-2013'))]

In [ ]:
stores_nonholiday_sales_mean = stores_nonholiday_sales.groupby(
    ['Date']).agg({'Weekly_Sales':'mean'}).reset_index()
stores_holiday_sales_sum = stores_holiday_sales.groupby(
    ['Date']).agg({'Weekly_Sales':'sum'}).reset_index()

In [ ]:
for i in stores_holiday_sales_sum.itertuples():
    for j in stores_nonholiday_sales_mean.itertuples():
        if i.Weekly_Sales > j.Weekly_Sales:
            print("On this Date {} Holiday Sales is greater than Non Holiday Sales and the Sales :-{}".format(i.Date,i.Weekly_Sales))
            break;

On this Date 07-09-2012 Holiday Sales is greater than Non Holiday Sales and the Sales :-48330059.31
On this Date 09-09-2011 Holiday Sales is greater than Non Holiday Sales and the Sales :-46763227.529999994
On this Date 10-02-2012 Holiday Sales is greater than Non Holiday Sales and the Sales :-50009407.919999994
On this Date 10-09-2010 Holiday Sales is greater than Non Holiday Sales and the Sales :-45634397.84
On this Date 11-02-2011 Holiday Sales is greater than Non Holiday Sales and the Sales :-47336192.79000002
On this Date 12-02-2010 Holiday Sales is greater than Non Holiday Sales and the Sales :-48336677.63000002
On this Date 25-11-2011 Holiday Sales is greater than Non Holiday Sales and the Sales :-66593605.25999998
On this Date 26-11-2010 Holiday Sales is greater than Non Holiday Sales and the Sales :-65821003.23999999
On this Date 30-12-2011 Holiday Sales is greater than Non Holiday Sales and the Sales :-46042461.04000001
On this Date 31-12-2010 Holiday Sales is greater than Non Holiday Sales and the Sales :-40432519.0

In [ ]:
print("Super Bowl Day Sale",stores_holiday_sales_superBowl['Weekly_Sales'].sum())
print("Labour Day Sale",stores_holiday_sales_labourDay['Weekly_Sales'].sum())
print("Thanksgiving Day Sale",stores_holiday_sales_thanksgiving['Weekly_Sales'].sum())
print("Christmas Day Sale",stores_holiday_sales_Christmas['Weekly_Sales'].sum())

Super Bowl Day Sale 145682278.34
Labour Day Sale 140727684.68
Thanksgiving Day Sale 132414608.5
Christmas Day Sale 86474980.03999999

In [ ]:
# Extract features
x_features_object = walmart_data[walmart_data['Store'] ==1][['Store','Date']]
date_obj = walmart_data[walmart_data['Store'] ==1][['Date']]
date_obj.index +=1
x_features_object.Date = date_obj.index
x_features_object.head()

   Store  Date
0      1     1
1      1     2
2      1     3
3      1     4
4      1     5

In [ ]:
y_target = walmart_data[walmart_data['Store'] ==1]['Weekly_Sales']
y_target.head()

0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
Name: Weekly_Sales, dtype: float64

In [ ]:
# split data
x_train,x_test,y_train,y_test = train_test_split(x_features_object,y_target,test_size=0.2,random_state=42)

In [ ]:
#Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb #2010 
#(starting from the earliest date in order). Hypothesize if CPI, unemployment, 
#and #fuel price have any impact on sales.
lr = LinearRegression()
lr.fit(x_train,y_train)
feature_dataset = walmart_data[walmart_data['Store'] ==1][['Store','CPI','Unemployment','Fuel_Price']]
feature_dataset.head()

   Store         CPI  Unemployment  Fuel_Price
0      1  211.096358         8.106       2.572
1      1  211.242170         8.106       2.548
2      1  211.289143         8.106       2.514
3      1  211.319643         8.106       2.561
4      1  211.350143         8.106       2.625

In [ ]:
response_set_cpi = walmart_data[walmart_data['Store'] ==1]['CPI'].astype('int64')
response_set_unemployment = walmart_data[walmart_data['Store'] ==1]['Unemployment'].astype('int64')

In [ ]:
x_train_cpi,x_test_cpi,y_train_cpi,y_test_cpi = train_test_split(feature_dataset,response_set_cpi,
                                                                 test_size=0.2, random_state=42)
x_train_unemp,x_test_unemp,y_train_unemp,y_test_unemp = train_test_split(feature_dataset, response_set_unemployment,
                                                                         test_size=0.2, random_state=42)
lgr = LogisticRegression(max_iter=10000)
lgr.fit(x_train_cpi,y_train_cpi)
y_pred = lgr.predict(x_test_cpi)
lgr.fit(x_train_unemp,y_train_unemp)
y_pred_unemp = lgr.predict(x_test_unemp)

In [ ]:
# compute score accuracy 
print(metrics.accuracy_score(y_test_cpi,y_pred))
print(metrics.accuracy_score(y_test_unemp,y_pred_unemp))

0.6551724137931034
0.9310344827586207

In [ ]:
print('cpi actual :', y_test_cpi.values[0:30])
print('cpi Predicted :', y_pred[0:30])
print('actual Unemployment :', y_test_unemp.values[0:30])
print('Predicted Unemployment :', y_pred_unemp[0:30])

cpi actual : [221 211 215 219 213 210 221 215 215 211 212 215 218 222 219 215 211 215
 221 215 210 221 221 221 213 211 210 211 211]
cpi Predicted : [221 211 215 217 215 211 221 215 215 211 211 215 217 221 221 215 211 215
 221 215 211 221 221 221 215 211 211 211 211]
actual Unemployment : [7 7 7 7 7 7 6 7 7 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7 7 7 7 8 7]
Predicted Unemployment : [7 7 7 7 7 7 6 7 7 7 7 7 7 6 7 7 7 7 6 7 7 7 7 7 7 7 7 7 7]

In [ ]:
walmart_data['Day'] = pd.to_datetime(walmart_data['Date']).dt.day_name()
walmart_data.head()

   Store        Date  Weekly_Sales  ...         CPI  Unemployment       Day
0      1  05-02-2010    1643690.90  ...  211.096358         8.106    Sunday
1      1  12-02-2010    1641957.44  ...  211.242170         8.106  Thursday
2      1  19-02-2010    1611968.17  ...  211.289143         8.106    Friday
3      1  26-02-2010    1409727.59  ...  211.319643         8.106    Friday
4      1  05-03-2010    1554806.68  ...  211.350143         8.106    Monday

[5 rows x 9 columns]